# Build output
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# Git
.git/
.gitignore

# Docker
**/Dockerfile*
**/docker-compose*
.dockerignore

# Documentation
README.md
docs/

# Tests
**/*Tests/

# Node modules
**/node_modules/