# SQL Server
SQL_CONNECTION_STRING=Server=localhost;Database=GanaPayDB;User Id=sa;Password=YOUR_PASSWORD;TrustServerCertificate=True;

# MongoDB
MONGO_CONNECTION_STRING=mongodb://localhost:27017
MONGO_DATABASE_NAME=GanaPayAudit

# JWT
JWT_SECRET_KEY=SECRET_KEY_MIN_32_CHARS
JWT_ISSUER=GanaPay
JWT_AUDIENCE=GanaPayUsers
JWT_EXPIRATION_MINUTES=1440

# Environment
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:80